<section fxLayout="column wrap" fxFlexAlign="center center" fxLayoutGap=30px>
    <div fxFlex>
        <p>500 Server Error</p>
        <p>We are sorry for the inconvinience, plese report this error.</p>
    </div>
    <div fxFlex>
        <mat-checkbox (change)="checkChanged($event)" value="" color="primary">I want to report this error.</mat-checkbox>
    </div>
    <div fxFlex *ngIf="reportedError">
        <mat-progress-spinner mode="determinate" [value]="errorPercentage" color="primary"></mat-progress-spinner>
        <h1>{{errorPercentage}}%</h1>
    </div>
</section>